{% extends "admin/base.html" %}

{% block title %}Conditions{% endblock %}

{% block content %}
<div class="container-fluid px-4">
  <form method="post" action="{{url_for('ajouter_condition')}}">
    <h2 class="my-4">Ajouter une condition</h2>
    <select name="category" class="form-select my-4" aria-label="Default select example">
      <option value="" disabled selected>catégorie</option>
      <option value="orientations">condition d'orientations</option>
      <option value="transfer interne">condition de transfer interne</option>
      <option value="transfer externe">condition de transfer externe</option>
    </select>
    <select name="faculty" class="form-select my-4" aria-label="Default select example">
      <option value="" disabled selected>faculté</option>
      <option value="Nouvelle Technologies d'Informations et Communication">Nouvelle Technologies d'Informations et Communication</option>
      <option value="Sience Humain et Social">Sience Humain et Social</option>
      <option value="Economie">Economie</option>
      <option value="Sience des Activites Sportives">Sience des Activites Sportives</option>
      <option value="Bibliotheconomie">Bibliotheconomie</option>
      <option value="Psychologie">Psychologie</option>
    </select>
    <div class="mb-4">
      <label for="exampleFormControlTextarea1" class="form-label">description</label>
      <textarea name="description" class="form-control" id="desc_condition" rows="3"></textarea>
    </div> 
    <button type="submit" class="btn btn-success">Ajouter la condition</button>
  </form>
</div>
{% endblock content %}