{% extends "etudiant/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Mes demandes</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Info</li>
            </ol>
            <div class="card-body">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col" class="table-info">#</th>
                        <th scope="col" class="table-info">Id_demande</th>
                        <th scope="col" class="table-info">Matricule Etudiant</th>
                        <th scope="col" class="table-info">université d'origine</th>
                        <th scope="col" class="table-info">Etat</th>
                        <th scope="col" class="table-info"></th>
                        <th scope="col" class="table-info"></th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for item in data %}
                        <tr>
                            <th scope="row">{{data.index(item) + 1 }}</th>
                            <td><a href="/etudiant/demande_details/54">{{item['transfer_id']}}</a></td>
                            <td>{{item['matricule']}}</td>
                            <td>{{item['univ_origin']}}</td>
                            <td>{{item['etat']}}</td>
                            <td><a class="link-success text-decoration-none" href="{{url_for('EditTransfer', transfer_id = item['transfer_id'], matricule = item['matricule'])}}">modifier</a></td>
                            <td><a class="link-danger text-decoration-none" href="{{url_for('DeleteTransfer', transfer_id = item['transfer_id'], matricule = item['matricule'])}}">Supprimer</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
            </div>
            </div>
        </div>
    </main>

{% endblock content %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='scripts.js')}}"></script>
{% endblock javascripts %}
