{% extends "etudiant/base.html" %}

{% block title %}modifier mon transfer{% endblock %}

{% block content %}

<main>
    <div class="container-fluid px-4">
        <h2 class="my-4">modifier mon transfer</h2>
        <div class="alert alert-primary my-4" role="alert">
            <div class="alert-icon-content">
                <h5 class="alert-heading fw-bold">Notice :</h5>
                les transfers interne start : <b>10/10/2022</b>
                <hr>
                les transfers interne fin : <b>10/11/2022</b>
            </div>
        </div>
        <form method="post" action="{{url_for('UpdateTransfer')}}" enctype="multipart/form-data">
            <select name="Choix 1" class="form-select my-4" aria-label="Default select example">
                <option value="" disabled selected>Choix 1</option>
                {% for item in specialites %}
                <option value="{{item[1]}}">{{item[1]}}</option>
                {% endfor %}
            </select>
            <select name="Choix 2" class="form-select my-4" aria-label="Default select example">
                <option value="" disabled selected>Choix 2 </option>
                {% for item in specialites %}
                <option value="{{item[1]}}">{{item[1]}}</option>
                {% endfor %}
            </select>
            <select name="Choix 3" class="form-select my-4" aria-label="Default select example">
                <option value="" disabled selected>Choix 3 </option>
                {% for item in specialites %}
                <option value="{{item[1]}}">{{item[1]}}</option>
                {% endfor %}
            </select>
            <select name="Choix 4" class="form-select my-4" aria-label="Default select example">
                <option value="" disabled selected>Choix 4 </option>
                {% for item in specialites %}
                <option value="{{item[1]}}">{{item[1]}}</option>
                {% endfor %}
            </select>
            <div>
                <input type="file" name="files" multiple="true"/>
            </div>
            <hr class="my-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  j'ai verifié toutes mes informations
                </label>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary my-4">Envoyer la demande</button>
            </div>
        </form>
    </div>
</main>

{% endblock content %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='scripts.js')}}"></script>
{% endblock javascripts %}